@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0a192f;
  --accent-color: #ffbd59;
  --accent-color-dark: #7b4d08;
}

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
  a {
    @apply cursor-pointer;
  }
}

.navbar {
  @apply fixed w-full h-[80px] flex justify-between items-center px-4 bg-primary-color text-gray-300 z-10;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(to right, rgba(255, 189, 89, 0.8), hsla(23, 100%, 65%, 0.8)) !important;
}

.underlined {
  display: block;
  content: "";
  border-bottom: solid 3px var(--accent-color);
}

.underlined-animation:after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--accent-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}
.underlined-animation:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.shadow {
  @apply shadow-2xl shadow-[#040c16] ease-in-out duration-1000;
}

.sub-header {
  @apply text-4xl font-bold inline border-b-4 border-accent-color;
}

.skills-card {
  @apply shadow-md shadow-[#040c16] hover:scale-110 duration-500;
}

.skills-card > img {
  @apply w-20 m-auto;
}

/************ Scrollbar below *************/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
  box-shadow: inset 0 0 5px black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  box-shadow: inset 0 0 2px black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color-dark);
}
